In [7]:
import pandas as pd
import sqlite3 
conn = sqlite3.connect('data.sqlite')

In [11]:
pd.read_sql("""
SELECT *
  FROM employees;
""", conn)

DatabaseError: Execution failed on sql '
SELECT *
  FROM employees;
': no such table: employees